body {
	display: flex;
	align-items: center;
	justify-content: center;
}

#Block {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-family: arial;
	background-color: rgba(249, 229, 255, 0.75);
}

#Content {
    display: flex;
    flex-wrap: wrap;
    font-family: monospace;
    width: 100vw;
    max-width: 300px;
    height: 100vw;
    max-height: 300px;
}

#Content div {
    width: 33.33%;
    height: 33.33%;
    box-sizing: border-box;
    font-size: 4em;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Content :nth-child(3n) {
	border-right: none;
}


#Content :nth-child(7),
#Content :nth-child(8),
#Content :nth-child(9) {
	border-bottom: none;
}


