<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

        <script type=text/javascript>
         var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script src="{{ url_for('static', filename='game.js') }}"></script>
        <title>Tic Tac Toe</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" />
        
    </head>
    <body>
        <div id="Block">Waiting for opponent... (share this link to a friend)</div>
        <div id="Content">
            {% for i in range(9) %}
                <div data-cell="{{ i }}"></div>
            {% endfor %}
        </div>
	<a style="position: absolute; top: 0; left: 0;" href="https://github.com/kyleperik/ttt">Source Code</a>
    </body>
</html>
